#activities
{
    display: flex; 
    flex-direction: column;
    margin-top: 3%;
}
#activities_list
{
    display: flex;
    height: 350px;
    justify-content: space-between;
    padding-top: 10px;
}

#activities_list a
{
    text-decoration: none;
    color: black;
    border: 0.5px #f2f2f2 solid;
    border-radius: 20px;
    box-shadow: 2px 2px 12px #CDCAD1;
}

#activities_list a:hover
{
    transform: scale(1.04);
    transition-duration: 500ms;
}

figure
{
    display: flex;
    flex-direction: column;
    margin: 0;
}

figure img 
{
    object-fit: cover;
    border-radius: 20px 20Px 0px 0px;
}

figcaption 
{
    font-weight: bold;
	font-size: 12px;
    padding: 3px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.portrait_box 
{
    height: 100%;
    width: 22%;
}

.portrait_description
{
    height: 100%;
    width: 100%;
}

.portrait_description img
{
    height: 90%;
}

.portrait_description figcaption
{
    height: 10%;
}

.landscape_description
{
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#landscape_box1
{
    width: 100%;
    height: 55%;
}

#landscape_description1
{
    width: 100%;
    height: 100%;
}

#landscape_description1 img
{
    height: 82%;
}

#landscape_description1 figcaption
{
    height: 18%;
}

#landscape_box2
{
    width: 100%;
    height: 35%;
}

#landscape_description2
{
    width: 100%;
    height: 100%;
}

#landscape_description2 img
{
    height: 72%;
}

#landscape_description2 figcaption
{
    height: 28%;
}

.landscape_box3
{
    width: 100%;
    height: 45%;
}

#landscape_description3, #landscape_description4
{
    width: 100%;
    height: 100%;
}

#landscape_description3 img, #landscape_description4 img 
{
    height: 78%;
}

#landscape_description3 figcaption, #landscape_description4 figcaption
{
    height: 22%;
}

#landscape_description3 img
{
    object-position: top;
}

@media screen and (max-width: 767px)
{
    #activities
    {
        width: 100%;
    }

    #activities h2
    {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }

    #activities_list
    {
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .portrait_box 
    {
        width: 100%;
        height: 170px;
        margin-bottom: 15px;
    }

    .landscape_description
    {
        width: 100%;
    }

    #landscape_box1, #landscape_box2, .landscape_box3
    {
        width: 100%;
        height: 170px;
        margin-bottom: 15px;
    }

    .portrait_description img, #landscape_description1 img, #landscape_description2 img, #landscape_description3 img, #landscape_description4 img 
    {
        height: 80%;
    }

    .portrait_description figcaption, #landscape_description1 figcaption, #landscape_description2 figcaption, #landscape_description3 figcaption, #landscape_description4 figcaption
    {
        font-size: 14px;
        height: 20%;
    }

    #landscape_description4 img
    {
        object-position: center;
    }
}

@media screen and (min-width: 768px) and (max-width:1024px)
{
    #activities
    {
        width: 100%;
        height: 820px;
    }

    #activities_list
    {
        flex-wrap: wrap;
        width: 95%;
        height: 90%;
        margin: auto;
        justify-content: space-around;
    }

    .portrait_box 
    {
        width: 45%;
        height: 355px;
        margin-bottom: 15px;
    }

    .landscape_description
    {
        width: 45%;
    }

    #landscape_box1, #landscape_box2, .landscape_box3
    {
        width: 100%;
        height: 170px;
        margin-bottom: 15px;
    }

    .portrait_description figcaption, #landscape_description1 figcaption, #landscape_description2 figcaption, #landscape_description3 figcaption, #landscape_description4 figcaption
    {
        font-size: 16px;
    }
}

