#accomodations
{
    height: 30%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 3%;
}

#accomodations strong
{
    color: black;
    font-weight: bold;
}

#accomodations_results
{
    width: 62%;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 0px 30px 0px 30px;
    justify-content: center;
}

#accomodations_list
{
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}

#accomodations_list a:hover
{
    transform: scale(1.04);
    transition-duration: 500ms;
}

.accomodation_box
{
    text-decoration: none;
    color: black;
    width: 30%;
    height: 40%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 12px #CDCAD1;
}

.accomodation_box img
{
    width: 97%;
    height: 60%;
    margin: 1.5%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;  
}

.textdescription
{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.textdescription h4
{
    margin: 0px 0px 2px 0px;
}

.textdescription p
{
    margin: 0px;
}

.stars i
{
    font-size: 10px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa-star
{
    color: #0065FC;
}

.fa-star-2
{
    color: #f2f2f2;
}

/* ASIDE */

aside
{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    width: 25%;
    border-radius: 20px;
    justify-content: center;
    padding: 0px 30px 0px 30px;
}

a 
{
    text-decoration: none;
    color: black;
}

aside h2
{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    padding-bottom: 12px;
}

.fas fa-chart-line
{
    font-style: normal;
}

#most_popular_list
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: space-between;
}

#most_popular_list a:hover
{
    transform: scale(1.04);
    transition-duration: 500ms;
}

.most_popular_box
{
    text-decoration: none;
    color: black;
    height: 28%;
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 12px #CDCAD1; 
}

.most_popular_box img
{
    width: 35%;
    margin: 4px;
    border-radius: 19px 0px 0px 19px;
    object-fit: cover;  
}

.most_popular_text 
{
    padding: 15px 10px 10px 10px; 
    width: 41%;  
}

h4
{
    margin: 0px;
}

.most_popular_text p
{
    margin-bottom: 30px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px)
{
    #accomodations
    {
        flex-direction: column-reverse;
    }

    aside
    {
        width: 100%;
        border-radius: 0;
        padding: 30px 0px 30px 0px;
    }

    #most_popular_list
    {
        width: 90%;
        margin: auto;
    }

    .most_popular_box
    {
        height: 150px;
    }

    .most_popular_box img, .most_popular_text
    {
        width: 100%;
    }
    
    
}